<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ cabecalho }}</title>
  </head>
  <body>
    <h1>Crie seu Container!!</h1>
    <form>
  <fieldset>
    <legend>Escolha seu serviço</legend>
    <p>
      <input type="radio" name="size" id="size_1" value="small">
      <label for="size_1">Postgres</label>
    </p>
    <p>
      <input type="radio" name="size" id="size_2" value="medium">
      <label for="size_2">Nginx</label>
    </p>
   </fieldset>
</form>

  </body>
</html>
