<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ cabecalho }}</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
  </head>
  <body>
    <h1>Make your Container!!</h1>
    <form>
  <fieldset>
    <legend>Service</legend>
    {% for servico in servicos %}
    <p>
      <input type="radio" name="size" id="size_1" value="small">
      <label for="size_1">{{ servico }}</label>
        <select id=cbPais>
          <option value="latest" >latest</option>
          <option value="usa" >Usa</option>
        </select>
    </p>
    {% endfor %}

   </fieldset>
</form>

  </body>
</html>
